.about-wrapper {
   display: flex;
   flex-direction: column;
   padding: 15px;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 18px;
   text-shadow: 0px 0px 3px ghostwhite;
   text-shadow: 0px 1px 2px rgb(0, 0, 0);
   background-color: hsla(333, 100%, 53%, 0.768);
   background-color: #938274;
   border-radius: 0px;
   background-image: url(../images/richmond.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-size: 100%;
}

.about-meat-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: center;
   height: 73vh;
   border-radius: 0px;
   background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.81), #00161dd9),
      url(../images/IMG-8556.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #938274e9;
   overflow-y: scroll;
   padding: 10px;
   border: solid;
   border-width: 0px;
   border-color: black;
   box-shadow: 0px 4px 15px black inset;
   transition: 0.3s;
   text-shadow: 0px 0px 14px rgb(0, 0, 0);
}

.about-h1 {
   color: #eef0f2;
   display: flex;
   justify-content: left;
   flex-direction: row;
   color: eef0f2;
   background-color: #00161d;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.about-p {
   color: #eef0f2;
   padding: 5px;
}

.right {
   display: flex;
   justify-content: right;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #000000;
   background-clip: content-box;
}

::-webkit-scrollbar-thumb {
   background: hsla(333, 100%, 53%, 1);
   height: 10px;
   border: 1px solid rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(255, 15, 123, 0.713);
}
