.about-wrapper {
   display: flex;
   flex-direction: column;
   padding: 5px;
   padding-left: 10%;
   padding-right: 10%;
   font-size: 18px;
   text-shadow: 0px 0px 3px ghostwhite;
   text-shadow: 0px 1px 2px rgb(0, 0, 0);
   background-color: hsla(333, 100%, 53%, 0.968);
   border-radius: 0px;
   background-image: url(../images/richmond.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
}

.about-meat-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: top;
   align-items: center;
   height: 73vh;
   background-color: #938274ee;
   overflow-y: scroll;
   padding: 10px;
   /* border: solid; */
   border-left-width: 40px;
   border-right-width: 40px;
   border-top-width: 0px;
   border-bottom-width: 0px;

   border-color: #00161d;
   border-radius: 2px;
   box-shadow: 0px 4px 5px black;
   transition: 0.3s;
   text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.about-h1 {
   color: var(--cultured);
   display: flex;
   justify-content: left;
   flex-direction: row;
   color: eef0f2;
   background-color: var(--dark);
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.about-p {
   color: var(--cultured);
   padding: 5px;
}

.right {
   display: flex;
   justify-content: right;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #000000;
   background-clip: content-box;
}

::-webkit-scrollbar-thumb {
   background: var(--vibrant);
   height: 10px;
   border: 1px solid rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
   background: var(--cultured);
}
