/* CSS GLOBAL RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

/* GLOBAL RULES - COLOR TEMPLATE - MASTER CONTROL CSS */
:root {
   /* 
   ALABASTER THEME
   #fcfcfc --- Alabaster
   #eceef5 --- Whisper
   #ccccd3 --- Ghost
   #f4f4fb --- White Lilac
   #f4fvfv --- Aqua Spring 
   #353535 --- Dark Grey
   */

   /* Global Page Padding */
   /* padding-top: 5px; */
   background-color: #353535;

   /* FONT - ROBOTO*/
   font-family: "Open Sans", sans-serif;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #fcfcfc;

   /* FONT - SIZES */
   --sm-font: 12px;
   --md-font: 16px;
   --lg-font: 22px;

   /*GLOBAL COLOR THEME*/
   --primary-color: #fcfcfc;
   --secondary-color: #eceef5;
   --tertiary-color: #ccccd3;
   --quarternary-color: #f4f4fb;
   --quinary-color: #f4fcfc;
   --bg-color: #353535;
   --font-color: #353535;

   /*LINK COLORS*/
   --nav-link-bg-color: green;
   --nav-highlight-color: rgb(3, 80, 80);
   --link-color: #6a6a6a;
   --link-shadow-color: #000000;
   --nav-hover-color: #000000;
   --link-highlight: red;
   --nav-item-bg-color: teal;

   /*SHADOW COLORS*/
   --shadow-primary-color: #555555;
   --shadow-secondary-color: teal;

   /*HOVER COLORS*/
   --link-hover-color: red;
   --button-hover-color: red;
}
