/* CSS GLOBAL RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

/* _______________________________________________________________| GLOBAL RULES */
:root {
   background-color: var(--dark);
   line-height: 1.4;
   color: var(--cultured);
   /* _______________________________________________________________| FONT SIZE */
   --sm: 12px;
   --md: 16px;
   --lg: 22px;
   /* _____________________________________________________________| FONT WEIGHT */
   --wt-lg: 600;
   --wt-md: 400;
   --wt-sm: 300;
   font-family: "Open Sans", sans-serif;
   font-family: "Roboto", sans-serif;
   font-weight: var(--wt-md);
   font-size: 16px;
   /* _________________________________________________________________| COLORS */
   --dark: hsla(194, 100%, 6%, 1);
   --medium: hsla(27, 13%, 52%, 1);
   --vibrant: hsla(333, 100%, 53%, 0.901);
   --cultured: hsla(210, 13%, 94%, 1);
}
