.header-container {
   height: 59px;
   font-size: 34px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   color: var(--cultured);
   background-blend-mode: multiply;
   background-size: cover;
   background-position: right;
   position: sticky;
   box-shadow: var(--dark);
}

.header-title-splash {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.header-title {
   color: var(--primary-color);
   text-shadow: -var(--dark);
   padding-left: 5px;
   padding-right: 5px;
}

.secret {
   transition: all 0.2s;
}

.secret:hover {
   padding-left: 15px;
   padding-right: 15px;
   cursor: pointer;
   -moz-transform: scale(1.15);
   -webkit-transform: scale(1.15);
   -o-transform: scale(1.15);
   -ms-transform: scale(1.15);
   -webkit-transform: scale(1.15);
   color: var(--vibrant);
   text-shadow: var(--dark);
   transform: scale(1.45);
   transition: all 0.2s;
}
