.header-container {
   height: 59px;
   font-size: 34px;
   color: #eef0f2;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   color: #eef0f2;
   /* background-image: linear-gradient(
         90deg,
         rgba(0, 88, 119, 0.501) 0%,
         hsla(0, 0%, 0%, 0.73) 40%
      ),
      url(../images/Raleigh-NC-01-19-2022.jpg); */
   background-size: cover;
   background-position: right;
   position: sticky;
   box-shadow: -1px 0px 10px black;
}

.header-title-splash {
   display: flex;
   flex-direction: row;
   background-color: var(bg-color);
}

.header-title {
   color: var(--primary-color);
   text-shadow: 0px 1px 2px black;
   padding-left: 5px;
   padding-right: 5px;
}

.secret {
   transition: all 0.2s;
}

.secret:hover {
   padding-left: 15px;
   padding-right: 15px;
   cursor: pointer;
   -moz-transform: scale(1.15);
   -webkit-transform: scale(1.15);
   -o-transform: scale(1.15);
   -ms-transform: scale(1.15);
   -webkit-transform: scale(1.15);
   color: hsla(333, 100%, 53%, 0.901);
   text-shadow: 0px 1px 4px black;
   transform: scale(1.45);
   transition: all 0.2s;
}
