@import "./Global.css";

.nav-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
   height: 23px;
   padding-top: 2px;
   font-size: 15px;
   font-weight: 400px;
   display: flex;
   background-color: #00161d;
   align-items: center;
}

.nav-item {
   display: flex;
   flex-direction: row;
   color: hsla(333, 100%, 53%, 0.901);
   justify-content: center;
   height: 100%;
   width: 100%;
   transition: all 1.2s;
   padding-left: 10px;
   padding-right: 10px;
}

.nav-item:hover {
   display: flex;
   color: hsla(0, 0%, 0%, 0.901);
   background-color: hsla(333, 100%, 53%, 0.901);
   flex-direction: row;
   justify-content: center;
   height: 100%;
   transition: all 0.1s;
}
