.nav-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
   height: 23px;
   padding-top: 2px;
   font-size: 15px;
   font-weight: 400px;
   display: flex;
   background-color: var(--dark);
   align-items: center;
}

.nav-item {
   display: flex;
   flex-direction: row;
   color: var(--vibrant);
   justify-content: center;
   height: 100%;
   width: 100%;
   transition: all 0.5s;
   padding-left: 10px;
   padding-right: 10px;
}

.nav-item:hover {
   display: flex;
   color: hsla(0, 0%, 0%, 0.901);
   background-color: var(--vibrant);
   flex-direction: row;
   justify-content: center;
   height: 100%;
   transition: all 0.1s;
}
